h1{
  margin: 0px;
}
table td{
  width: 220px;
}
table, th, td{
  padding: 0px;
  margin: 0px;
}
img{
  width: 150px;
  height: 120px;
}
table table tr * {
  width: 32px;
  height: 25px;
  border: 1px solid grey;
  text-align: center;
}
table table{
  border: 1px solid grey;
}
.right{
  text-align: right;
}
.left{
  text-align: left;
}
.bottomright{
  text-align: right;
  vertical-align: bottom;
}
