*{
  margin: 0;
  padding: 0;
  outline: none;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
#container{
  width: 575px;
  margin: 20px;
}
aside{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3b3b3b+0,3a3a3a+49,2f2f2f+100 */
background: rgb(59,59,59); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(59,59,59,1) 0%, rgba(58,58,58,1) 49%, rgba(47,47,47,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(59,59,59,1) 0%,rgba(58,58,58,1) 49%,rgba(47,47,47,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(59,59,59,1) 0%,rgba(58,58,58,1) 49%,rgba(47,47,47,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b3b3b', endColorstr='#2f2f2f',GradientType=0 ); /* IE6-9 */
padding: 15px 15px 15px 15px;
border: 1px solid gray;
border-bottom: 0;
border-top-right-radius: 10px;
border-top-left-radius: 10px;
}
aside::before{
  content: "";
  width: 35px;
  height: 40px;
  background: url("../images/comp.png") no-repeat;
  background-size: contain;
position: absolute;
}
aside p{
  display: inline-block;
color: white;
font-weight: bold;
margin: 0 18px 0 50px;
}
form{
  display: inline-block;
}
input[type=button]{
  width: 50px;
  height: 27px;
  background-image: url("../images/redbutton2.png");
  background-size:cover;
  color: white;
  border: 1px solid white;
  border-radius: 10px;
}
input[type=button]:active{
  border-color: #D20202;
}
input[type=text],input[type=email]{
  margin-right: 11px;
  width: 130px;
  color: black;
}
input[type=email]{
  margin-right: 15px;
}
section{
  padding: 15px 10px 15px 15px;
  border: 1px solid gray;
  border-top: 0;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
    background-color: #3B3B3B;
}
section header h2{
  color: #FAD71B;
  margin-bottom: 20px;
}
section p{
  color: #A4A4A4;
  font-size: 13px;
  width: 502px;
}
span{
  color: white;
}
