body * {
    margin: 0;
    padding: 0;
}

#wrapper {
    width: 450px;
    height: 486px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b8e1fc+0,a9d2f3+10,aac5e0+20,bed8e8+37,a6c9ed+50,bacfe2+66,c2daf9+76,c2d6ea+83,adcbdb+100 */
    background: rgb(184, 225, 252);
    /* Old browsers */
    background: -moz-linear-gradient(45deg, rgba(184, 225, 252, 1) 0%, rgba(169, 210, 243, 1) 10%, rgba(170, 197, 224, 1) 20%, rgba(190, 216, 232, 1) 37%, rgba(166, 201, 237, 1) 50%, rgba(186, 207, 226, 1) 66%, rgba(194, 218, 249, 1) 76%, rgba(194, 214, 234, 1) 83%, rgba(173, 203, 219, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, rgba(184, 225, 252, 1) 0%, rgba(169, 210, 243, 1) 10%, rgba(170, 197, 224, 1) 20%, rgba(190, 216, 232, 1) 37%, rgba(166, 201, 237, 1) 50%, rgba(186, 207, 226, 1) 66%, rgba(194, 218, 249, 1) 76%, rgba(194, 214, 234, 1) 83%, rgba(173, 203, 219, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, rgba(184, 225, 252, 1) 0%, rgba(169, 210, 243, 1) 10%, rgba(170, 197, 224, 1) 20%, rgba(190, 216, 232, 1) 37%, rgba(166, 201, 237, 1) 50%, rgba(186, 207, 226, 1) 66%, rgba(194, 218, 249, 1) 76%, rgba(194, 214, 234, 1) 83%, rgba(173, 203, 219, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#b8e1fc', endColorstr='#adcbdb', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
    border-radius: 10px;
    padding: 8px;
}

div#wrapper * {
    border-radius: 2px;
}

img {
    float: left;
    margin-right: 5px;
    width: 15px;
}

form {
    display: inline;
}

div#wrapper>form>input {
    float: right;
    padding: 2px 6px 0px;
    position: relative;
    bottom: 7px;
    margin: -1px;
    border: 1px solid gray;
    border-top: 0;
    width: 40px;
    color: white;
    font-size: 16px;
    text-shadow: 0.5px 0.4px 1px #000, -0.5px -0.4px 1px #000, -0.5px 0.3px 1px #000, 0.5px -0.3px 1px #000;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e0f2f9+0,bcd1d8+45,bacfd6+50,9bbac4+53,b8d1d8+100 */
    background: rgb(224, 242, 249);
    /* Old browsers */
    background: -moz-linear-gradient(top, rgba(224, 242, 249, 1) 0%, rgba(188, 209, 216, 1) 45%, rgba(186, 207, 214, 1) 50%, rgba(155, 186, 196, 1) 53%, rgba(184, 209, 216, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(224, 242, 249, 1) 0%, rgba(188, 209, 216, 1) 45%, rgba(186, 207, 214, 1) 50%, rgba(155, 186, 196, 1) 53%, rgba(184, 209, 216, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(224, 242, 249, 1) 0%, rgba(188, 209, 216, 1) 45%, rgba(186, 207, 214, 1) 50%, rgba(155, 186, 196, 1) 53%, rgba(184, 209, 216, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#e0f2f9', endColorstr='#b8d1d8', GradientType=0);
    /* IE6-9 */
}

body div#wrapper>form>input:nth-child(2) {
    opacity: 0.6;
}

div#wrapper>form>input:first-of-type {
    width: 60px;
    border-bottom-right-radius: 5px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff8787+1,ea7e7e+17,d66b6b+31,cc6c6c+44,cc6363+48,b55151+51,ad4a4a+71,b24e49+88,c1847d+100 */
    background: rgb(255, 135, 135);
    /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255, 135, 135, 1) 1%, rgba(234, 126, 126, 1) 17%, rgba(214, 107, 107, 1) 31%, rgba(204, 108, 108, 1) 44%, rgba(204, 99, 99, 1) 48%, rgba(181, 81, 81, 1) 51%, rgba(173, 74, 74, 1) 71%, rgba(178, 78, 73, 1) 88%, rgba(193, 132, 125, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255, 135, 135, 1) 1%, rgba(234, 126, 126, 1) 17%, rgba(214, 107, 107, 1) 31%, rgba(204, 108, 108, 1) 44%, rgba(204, 99, 99, 1) 48%, rgba(181, 81, 81, 1) 51%, rgba(173, 74, 74, 1) 71%, rgba(178, 78, 73, 1) 88%, rgba(193, 132, 125, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255, 135, 135, 1) 1%, rgba(234, 126, 126, 1) 17%, rgba(214, 107, 107, 1) 31%, rgba(204, 108, 108, 1) 44%, rgba(204, 99, 99, 1) 48%, rgba(181, 81, 81, 1) 51%, rgba(173, 74, 74, 1) 71%, rgba(178, 78, 73, 1) 88%, rgba(193, 132, 125, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ff8787', endColorstr='#c1847d', GradientType=0);
    /* IE6-9 */
}

div#wrapper>form>input:last-of-type {
    border-bottom-left-radius: 5px;
}

#main {
    border: 2px solid gray;
    margin-top: 10px;
}

#nav {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f2f5fa+0,f2f5fa+35,d3daed+43,dee3f3+50,dee3f3+100 */
    background: rgb(242, 245, 250);
    /* Old browsers */
    background: -moz-linear-gradient(top, rgba(242, 245, 250, 1) 0%, rgba(242, 245, 250, 1) 35%, rgba(211, 218, 237, 1) 43%, rgba(222, 227, 243, 1) 50%, rgba(222, 227, 243, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(242, 245, 250, 1) 0%, rgba(242, 245, 250, 1) 35%, rgba(211, 218, 237, 1) 43%, rgba(222, 227, 243, 1) 50%, rgba(222, 227, 243, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(242, 245, 250, 1) 0%, rgba(242, 245, 250, 1) 35%, rgba(211, 218, 237, 1) 43%, rgba(222, 227, 243, 1) 50%, rgba(222, 227, 243, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f2f5fa', endColorstr='#dee3f3', GradientType=0);
    /* IE6-9 */
    border-bottom: 1px solid #8E9CAD;
}

ul {
    list-style-type: none;
}

div#nav ul li {
    display: inline-block;
    margin-right: 10px;
    margin-left: 5px;
}

div#nav ul li button::first-letter {
    text-decoration: underline;
}

div#nav>form button {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline-color: darkgray;
    outline-width: medium;
}

div#content {
    padding: 8px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ecf3fc+0,c4d8ed+36,c4d8ed+100 */
    background: rgb(236, 243, 252);
    /* Old browsers */
    background: -moz-linear-gradient(top, rgba(236, 243, 252, 1) 0%, rgba(196, 216, 237, 1) 36%, rgba(196, 216, 237, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(236, 243, 252, 1) 0%, rgba(196, 216, 237, 1) 36%, rgba(196, 216, 237, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(236, 243, 252, 1) 0%, rgba(196, 216, 237, 1) 36%, rgba(196, 216, 237, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ecf3fc', endColorstr='#c4d8ed', GradientType=0);
    /* IE6-9 */
}

div#content>form:first-of-type input {
    text-align: right;
    width: 98%;
    height: 60px;
    font-size: 25px;
    padding: 15px 7px 0 0;
    border: 1px solid #8E9CAD;
    outline: none;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d9e8f7+0,feffff+100 */
    background: rgb(217, 232, 247);
    /* Old browsers */
    background: -moz-linear-gradient(top, rgba(217, 232, 247, 1) 0%, rgba(254, 255, 255, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(217, 232, 247, 1) 0%, rgba(254, 255, 255, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(217, 232, 247, 1) 0%, rgba(254, 255, 255, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#d9e8f7', endColorstr='#feffff', GradientType=0);
    /* IE6-9 */
}

div#main div#content div#binaryRepresentation {
    border: 1px solid #8E9CAD;
    margin-top: 8px;
    padding: 2px;
}

div#main div#content div#binaryRepresentation ul li {
    width: 33px;
    display: inline-block;
    margin-right: 6px;
    margin-left: 10px;
}

div#main div#content div#binaryRepresentation ul:nth-child(even) {
    color: gray;
}

div#main div#content div#binaryRepresentation ul:nth-child(odd) {
    color: #1A3558;
}

div#main div#content div#binaryRepresentation ul:nth-child(even) li:last-of-type {
    text-align: right;
}

div#hexQword {
    width: 83px;
    display: inline-block;
    color: #1A3558;
}

div#hexQword div:last-of-type {
    margin-top: 7px;
}

.checkboxes {
    border: 1px solid #8E9CAD;
    margin-top: 8px;
    padding: 5px;
}

.checkboxes form ul label li input {
    margin-right: 5px;
}

.checkboxes form ul label li {
    margin-bottom: 8px;
    margin-top: 6px;
}

div#hexQword div:last-of-type form ul label:last-of-type li {
    margin-bottom: 5px;
}

div#hexQword div:first-child form ul label:last-of-type li {
    margin-bottom: 9px;
}

#content table tr td input {
    width: 37px;
    height: 36px;
    border: 1px solid #8E9CAD;
    color: #1A3558
}

#content table {
    display: inline-block;
    border-spacing: 6px;
    margin-top: 2px;
    float: right;
    position: absolute;
    left: 112px;
}

#colspan {
    width: 80px !important;
}

#rowspan {
    height: 76px !important;
}

.transparent {
    background-color: transparent !important;
}

.active {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eef4fa+0,d5e0ee+52,d5e0ee+52,bed2ea+100 */
    background: rgb(238, 244, 250);
    /* Old browsers */
    background: -moz-linear-gradient(top, rgba(238, 244, 250, 1) 0%, rgba(213, 224, 238, 1) 52%, rgba(213, 224, 238, 1) 52%, rgba(190, 210, 234, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(238, 244, 250, 1) 0%, rgba(213, 224, 238, 1) 52%, rgba(213, 224, 238, 1) 52%, rgba(190, 210, 234, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(238, 244, 250, 1) 0%, rgba(213, 224, 238, 1) 52%, rgba(213, 224, 238, 1) 52%, rgba(190, 210, 234, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#eef4fa', endColorstr='#bed2ea', GradientType=0);
    /* IE6-9 */
}

.active:hover {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fcf3ea+1,fce8d4+24,f9f4d9+43,fbe98a+56,fbe98a+100 */
    background: rgb(252, 243, 234);
    /* Old browsers */
    background: -moz-linear-gradient(top, rgba(252, 243, 234, 1) 1%, rgba(252, 232, 212, 1) 24%, rgba(249, 244, 217, 1) 43%, rgba(251, 233, 138, 1) 56%, rgba(251, 233, 138, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(252, 243, 234, 1) 1%, rgba(252, 232, 212, 1) 24%, rgba(249, 244, 217, 1) 43%, rgba(251, 233, 138, 1) 56%, rgba(251, 233, 138, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(252, 243, 234, 1) 1%, rgba(252, 232, 212, 1) 24%, rgba(249, 244, 217, 1) 43%, rgba(251, 233, 138, 1) 56%, rgba(251, 233, 138, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#fcf3ea', endColorstr='#fbe98a', GradientType=0);
    /* IE6-9 */
}

.active:focus {
    outline-color: gold;
    outline-width: medium;
    background: rgb(252, 243, 234);
    /* Old browsers */
    background: -moz-linear-gradient(top, rgba(252, 243, 234, 1) 1%, rgba(252, 232, 212, 1) 24%, rgba(249, 244, 217, 1) 43%, rgba(251, 233, 138, 1) 56%, rgba(251, 233, 138, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(252, 243, 234, 1) 1%, rgba(252, 232, 212, 1) 24%, rgba(249, 244, 217, 1) 43%, rgba(251, 233, 138, 1) 56%, rgba(251, 233, 138, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(252, 243, 234, 1) 1%, rgba(252, 232, 212, 1) 24%, rgba(249, 244, 217, 1) 43%, rgba(251, 233, 138, 1) 56%, rgba(251, 233, 138, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#fcf3ea', endColorstr='#fbe98a', GradientType=0);
    /* IE6-9 */
    border-color: gold !important;
}
